a {
    color: inherit;
}
a:visited {
    color: #000;
}
a:hover {
    color: #BC0200;
}

body {
    background-image: url("../images/qbkls.png");
}

header, .main-content, footer {
    background: #A7D49B;
 
}

.border-bottom, .border {
    border-color: #BC0200!important;
}

.title-font {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

.custom-font {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #2E0219;
}

#aretha-name {
    color: #FFF;
   
    line-height: 3em;
}


#name-title {
    background: #4A001F;
}