html {
    position: relative;
    height: 100%;
}

body {
    
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
}
a:visited {
    color: #000;
}
a:hover {
    color: #BC0200;
}

body {
    background-image: url("../images/qbkls.png");
}

header, .main-content {
    background: #A7D49B;
 
}

.card {
    background-color:transparent;
    max-width: 370px;
}

.card-title {
    color: #FFF;
    line-height: 3em;
}

.card-title-box {
    background: #2E0219;
    
    bottom: 50px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

footer {
    background: #2E0219;
    color: #FFF;
    height: 60px; 
}

footer p {
    margin-bottom: 0px;
}

.border-bottom, .border, .border-top {
    border-color: #BC0200!important;
}

.title-font {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

.custom-font {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #2E0219;
}

.btn-primary {
    background-color: #2E0219;
}

#aretha-name {
    color: #FFF;
    line-height: 3em;
}


#name-title {
    background: #4A001F;
}